@model IEnumerable<TraineeTracker.App.Models.ViewModels.TrackerVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Trackers" asp-action="Index" method="get">
    <p>
        <label for="filter">Filter by: </label>
        <input type="text" id="filter" name="filter" />
        <button type="submit">Filter</button>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            @{
                if (this.User.IsInRole("Trainer") || this.User.IsInRole("Admin"))
                {
                        <th>
                        @Html.DisplayNameFor(model => model.Spartan.UserName)
                        </th>
                }
            }
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsReviewed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TechnicalSkill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpartanSkill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {

            var startText = Utilities.DisplayText(item.StartDoingText, 50);
            var stopText = Utilities.DisplayText(item.StopDoingText, 50);
            var contText = Utilities.DisplayText(item.ContinueDoingText, 50);
        <tr>
            @{
                if (this.User.IsInRole("Trainer") || this.User.IsInRole("Admin"))
                {
                    <td>
                            @Html.DisplayFor(modelitem => item.Spartan.UserName)
                    </td>
                }
            }
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <div id="TextFields">
                    <table>
							<tbody>
								<tr><td><strong>@Html.DisplayNameFor(modelItem=>item.StartDoingText):</strong> @Html.DisplayFor(modelItem => startText)</td></tr>
                                <tr><td><strong>@Html.DisplayNameFor(modelItem=>item.StopDoingText):</strong> @Html.DisplayFor(modelItem => stopText)</td></tr>
                                <tr><td><strong>@Html.DisplayNameFor(modelItem=>item.ContinueDoingText):</strong> @Html.DisplayFor(modelItem => contText)</td></tr>
							</tbody>
                    </table>
                </div>
            </td>
            <td>
                <form asp-action="UpdateTrackerReviewed" asp-route-id="@item.Id">
                   @Html.CheckBox("IsReviewed", item.IsReviewed, new {onChange="this.form.submit()"})
                </form>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TechnicalSkill)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpartanSkill)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td class="btn-group-vertical">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a> 
                    <a class="btn btn-danger">
                        @using (Html.BeginForm("Delete", "Trackers", new { id = item.Id }))
                        {
                            <input type="submit" class="bg-transparent border-0" value="Delete" onclick="return confirm('Are you sure you wish to delete the entry: @item.Title?')" />
                        }
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
